<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <components>

    <!--基类-->
    <component id="basecontroller" type="SmartSoft.Presentation.BaseController, SmartSoft.Presentation" />

    <!--Common部分-->
    <component id="datacontroller" type="SmartSoft.Presentation.DataController, SmartSoft.Presentation" />
  </components>

</configuration>

