<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
    <add key="Party" value="DingDing"/>
		<add key="CorpId" value="wx0d3cfc9ce66a0c27"/>
    <add key="AppSecret" value="EN7oDG7W4tqi9WJhawS0jl00jiY0Cc5Hmy9vdE4IGiXxF5H6YgUqDI1yJwF2L0iF"/>
    <add key="AgentID" value="15120011"/>
    <!--<add key="ConnectString" value="Data Source=WIN-20150920KTE\SQL2008;Initial Catalog=SmartSoftCommon2016;user=sa;pwd=P@ssword12;Connection Timeout=9999;"/>-->
    <add key="ConnectString" value="Data Source=.;Initial Catalog=SmartSoftCommonTest;user=sa;pwd=960519;Connection Timeout=9999;"/>
    <add key="IsDebug" value="1"/>
    <add key="PCWebDomain" value="http://localhost:10868/" />
    <add key="DeviceSource" value="Mobile"/>
    <add key="OpenExtOrder" value="0"/>
  </appSettings>

	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>
