<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <!--通用部分-->
    <component id="basesqlmap.dao" type="SmartSoft.Persistence.BaseSqlMapDao, SmartSoft.Persistence" />
    <component id="basesqlmap2" type="SmartSoft.Persistence.BaseSqlMapDao, SmartSoft.Persistence" />
    <component id="org.dao" type="SmartSoft.Persistence.Common.OrganizationSqlMapDao, SmartSoft.Persistence" />
    <component id="message.dao" type="SmartSoft.Persistence.Common.MessageSqlMapDao, SmartSoft.Persistence" />
    <component id="authorization.dao" type="SmartSoft.Persistence.Common.AuthorizationSqlMapDao, SmartSoft.Persistence" />

    <!--主数据部分-->
    <component id="defcommondao" type="SmartSoft.Persistence.Data.DefCommonSqlMapDao, SmartSoft.Persistence" />
  </components>
</configuration>