<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <components>
    <!--组织机构部分-->
    <component
			id="org" 
      service="SmartSoft.Service.Interface.Common.IOrganizationService, SmartSoft.Service"
      type="SmartSoft.Service.Implement.Common.OrganizationService, SmartSoft.Service">
    </component>

    <!--权限管理部分-->
    <component
			id="authorization"
			service="SmartSoft.Service.Interface.Common.IAuthorizationService, SmartSoft.Service"
			type="SmartSoft.Service.Implement.Common.AuthorizationService, SmartSoft.Service">
    </component>

    <component
			id="message"
			service="SmartSoft.Service.Interface.Common.IMessageService, SmartSoft.Service"
			type="SmartSoft.Service.Implement.Common.MessageService, SmartSoft.Service">
    </component>

    <!--主数据部分-->
    <!--基本服务-->
    <component
			id="baseservice" type="SmartSoft.Service.BaseService, SmartSoft.Service">
    </component>
    
    <!--定义资料-->
    <component
			id="defcommon"
			service="SmartSoft.Service.Interface.Data.IDefCommonService, SmartSoft.Service"
			type="SmartSoft.Service.Implement.Data.DefCommonService, SmartSoft.Service">
    </component>

  </components>

</configuration>
