<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component id="column"                    type="UDEF.Service.ColumnService, UDEF.Service" />
    <component id="columnviewcondition"       type="UDEF.Service.ColumnViewConditionService, UDEF.Service" />
    <component id="columnviewexpression"      type="UDEF.Service.ColumnViewExpressionService, UDEF.Service" />
    <component id="columnvieworder"           type="UDEF.Service.ColumnViewOrderService, UDEF.Service" />
    <component id="columnview"                type="UDEF.Service.ColumnViewService, UDEF.Service" />
    <component id="columnviewsort"            type="UDEF.Service.ColumnViewSortService, UDEF.Service" />
    <component id="customcolumn"              type="UDEF.Service.CustomColumnService, UDEF.Service" />
    <component id="customcolumnvalue"         type="UDEF.Service.CustomColumnValueService, UDEF.Service" />
    <component id="customexpression"          type="UDEF.Service.CustomExpressionService, UDEF.Service" />
    <component id="customselecttype"          type="UDEF.Service.CustomSelectTypeService, UDEF.Service" />
    <component id="databasecolumn"            type="UDEF.Service.DataBaseColumnService, UDEF.Service" />
    <component id="databasetable"             type="UDEF.Service.DataBaseTableService, UDEF.Service" />
    <component id="dropdownlistoption"        type="UDEF.Service.DropdownlistOptionService, UDEF.Service" />
    <component id="gridviewoperationtemplate" type="UDEF.Service.GridViewOperationTemplateService, UDEF.Service" />
    <component id="gridviewspecialtemplate"   type="UDEF.Service.GridViewSpecialTemplateService, UDEF.Service" />
    <component id="gridviewtemplate"          type="UDEF.Service.GridViewTemplateService, UDEF.Service" />
    <component id="layoutdetail"              type="UDEF.Service.LayoutDetailService, UDEF.Service" />
    <component id="layoutdetailview"          type="UDEF.Service.LayoutDetailViewService, UDEF.Service" />
    <component id="layoutpart"                type="UDEF.Service.LayoutPartService, UDEF.Service" />
    <component id="layout"                    type="UDEF.Service.LayoutService, UDEF.Service" />
    <component id="pagebuilderdirector"       type="UDEF.Service.PageBuilderDirectorService, UDEF.Service" />
    <component id="pagebuilder"               type="UDEF.Service.PageBuilderService, UDEF.Service" />
    <component id="selectdatadynamic"         type="UDEF.Service.SelectDataDynamicService, UDEF.Service" />
    <component id="selecttype"                type="UDEF.Service.SelectTypeService, UDEF.Service" />
    <component id="systemcolumn"              type="UDEF.Service.SystemColumnService, UDEF.Service" />
    <component id="systemselecttype"          type="UDEF.Service.SystemSelectTypeService, UDEF.Service" />
    <component id="systemtable"               type="UDEF.Service.SystemTableService, UDEF.Service" />
    <component id="userdefinebase"            type="UDEF.Service.UserDefineBaseService, UDEF.Service" />
    <component id="user"                      type="UDEF.Service.UserService, UDEF.Service" />
    <component id="ajax"                      type="UDEF.Service.AjaxService, UDEF.Service" />

  </components>
</configuration>
