<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>
	</configSections>
	<castle>
		<include uri="file://common-facilities.config"/>
		<include uri="file://common-daos.config"/>
		<include uri="file://common-services.config"/>
		<include uri="file://controllers.config"/>
		<include uri="file://common-udefservices.config"/>
		<include uri="file://common-udefdaos.config"/>
	</castle>
	<appSettings>
		<add key="Currency" value="0"/>
		<add key="Price" value="0"/>
		<add key="Qty" value="0"/>
		<add key="Amount" value="0"/>
		<add key="PageSize" value="10"/>
		<add key="PageSizeAll" value="2000"/>
		<add key="PageSizeOnIndex" value="15"/>
		<!--<add key="ConnectString" value="#constring#"/>-->
    <!--<add key="ConnectString" value="Data Source=.;Initial Catalog=SmartSoftCommonTest;user=sa;pwd=960519;Connection Timeout=9999;"/>-->
    <add key="ConnectString" value="Data Source=WIN-20150920KTE\SQL2008;Initial Catalog=SmartSoftCommon2016;user=sa;pwd=P@ssword12;Connection Timeout=9999;"/>
    <add key="ChartImageHandler" value="Storage=Session;Timeout=360;Url=~/TempImages/;" />
    <add key="PCWebDomain" value="../" />
    <add key="OpenExtOrder" value="0"/>
    
    <!--0为默认打开，1为关闭-->
    <add key="CompanyName" value="创捷易"/>
    <add key="CorpId" value="ding2b024e2c8f718bd8"/>
    <add key="AppSecret" value="KInybUmWMVSIvM9ugbzWvvZ5343FF8LNlXsnboHG-cFV2puF0yielLmVMyflbYm3"/>
    <add key="DepartmentID" value="16437315"/>
    <add key="DeviceSource" value="PC"/>
    <add key="AgentID" value="16437315"/>
    <add key="AdminMobile" value="18823310469"/>
  </appSettings>
	<system.web>
		<machineKey validation="3DES" validationKey="319B474B1D2B7A87C996B280450BB36506A95AEDF9B51211" decryptionKey="280450BB36319B474C996B506A95AEDF9B51211B1D2B7A87" decryption="3DES"/>
		<!--设置Session过期时间为30分钟-->
		<sessionState mode="InProc" timeout="30"></sessionState>
		<authentication mode="Forms">
			<forms name=".ASPXFES" loginUrl="Login.aspx" defaultUrl="main.aspx" protection="All" timeout="999999"></forms>
		</authentication>
		<authorization>
			<allow users="USER"/>
			<deny users="?"/>
		</authorization>
		<httpRuntime maxRequestLength="10240" useFullyQualifiedRedirectUrl="true" executionTimeout="720"/>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
				<add assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Infragistics2.WebUI.UltraWebNavigator.v8.2, Version=8.2.20082.1000, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics2.WebUI.Misc.v8.2, Version=8.2.20082.1000, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics2.WebUI.Shared.v8.2, Version=8.2.20082.1000, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics2.WebUI.UltraWebGrid.v8.2, Version=8.2.20082.1000, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics2.WebUI.UltraWebGrid.ExcelExport.v8.2, Version=8.2.20082.1000, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics2.Excel.v8.2, Version=8.2.20082.1000, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="Microsoft.VisualBasic.Compatibility, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></assemblies>
		</compilation>
		<!--AJAX BEGIN-->
		<!--AJAX END-->
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<pages enableEventValidation="false" validateRequest="false"
   viewStateEncryptionMode="Never">
   <controls>
    <add tagPrefix="AjaxToolKit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
    <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
     assembly="System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
   </controls>
  </pages>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<customErrors mode="RemoteOnly">
			<error statusCode="403" redirect="NoAccess.htm"/>
			<error statusCode="404" redirect="FileNotFound.htm"/>
		</customErrors>
		<httpHandlers>
   <remove path="*.asmx" verb="*" />
   <add path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
    validate="false" />
   <add path="ScriptResource.axd" verb="GET" type="System.Web.Handlers.ScriptResourceHandler"
    validate="false" />
   <add path="useronline.aspx" verb="GET" type="SmartSoft.Web.BaseClass.ShowMessage,SmartSoft.Web" />
   <add path="ajaxpro/*.ashx" verb="POST,GET" type="AjaxPro.AjaxHandlerFactory, AjaxPro.2" />
   <add path="*.asbx" verb="*" type="Microsoft.Web.Services.ScriptHandlerFactory"
    validate="false" />
   <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
    validate="false" />
  </httpHandlers>
	</system.web>
	<!-- AJAX-->
	<!--
		The system.webServer section is required for running ASP.NET AJAX under Internet
		Information Services 7.0. It is not necessary for previous version of IIS.
	-->
	<system.webServer>
  <validation validateIntegratedModeConfiguration="false" />
  <handlers>
   <remove name="ChartImageHandler" />
   <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
    path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </handlers>
 </system.webServer>
</configuration>
