<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConnectString" value="Data Source=(local);Initial Catalog=SmartSoftCommon;user=sa;pwd=P@ssword12;Connection Timeout=9999;" />
    <add key="SmsServer" value="sms3.mobset.com" />
    <add key="SmsCorpID" value="300669" />
    <add key="SmsLoginName" value="Admin" />
    <add key="SmsPassword" value="662824" />
    <add key="SmsFailedMax" value="5" />
    <add key="SmsSuffix" value="" />
    <add key="SmsIntervalToCheck" value="30000" />
    <add key="SmsActive" value="1" />
    <add key="SmsAddExtra" value="1" />
    <add key="EmailIntervalToCheck" value="10000" />
    <add key="EmailAccount" value="147176573@qq.com" />
    <add key="EmailPassword" value="P@ssword20!@" />
    <add key="EmailSMTP" value="smtp.qq.com" />
    <add key="EmailFailedMax" value="5" />
    <add key="EmailActive" value="1" />
    <add key="EmailAddExtra" value="1" />
    <add key="DingDingIntervalToCheck" value="10000" />
    <add key="DingDingActive" value="1" />
    <add key="DingDingCorpID" value="1" />
    <add key="DingDingSecrect" value="1" />
    <add key="DingDingAgentID" value="1" />
    <add key="DingDingDomain" value="http://112.74.86.224:9091/" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>